<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/Admin.css">

    <title>Artist Page</title>
</head>
<body>
    <div class="LeftSide">
        <input type="checkbox" id="burger-shower" class="burger-shower">
        <label for="burger-shower" class="treeBar">
            <div class="first-bar"></div>
            <div class="second-bar"></div>
            <div class="third-bar"></div>
        </label>
        <div class="Left-Bar">
            <a href ="http://localhost:8080" ><button class="leftBarButton">Menu</button></a>
            {{if .IsConnected}} 
            <form action="adminLog" method="post"> <button class="leftBarButton"> Se déconnecter </button></form>
            {{end}}
        </div>
    </div>
    {{if .IsConnected}} 
    <form action="reloadAPI" method="post" id="login-form">
        <button> Mettre à jour la base de donner </button>
    </form>
     {{else}} 
    <form action="adminpage" method="post" id="login-form">
        <div class = 'divInput'>
            <label for="mail" class="label-input"> ID </label>
            <input type="text" class="inputText" name = "mail" id = "mail" placeholder="Entrer votre ID">
            <label for="psw" class="label-input"> Mot De Passe </label>
            <input type="password" class="inputText" name = "psw" id = "psw" placeholder="Enter Mot de passe ">
        </div>
        <button> Se connecter en temps qu' Admin</button>
        {{if .IsBadInput}}
        <p  class="badEntry"> Mauvais mot de passe ou ID </p>
        {{end}}
    </form>
    {{end}}

    
</body>