<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/artistPage.css">
    <link rel="icon" href="http://localhost:8080/assets/img/ancienlogo.png"/>

    <title>Page artiste | {{.Name}}</title>
</head>
<body>
    <div id ="LeftSide" class="LeftSide">
        <div id = "LeftSideBnt" class="treeBar">
            <div class="first-bar" id = "first-bar"></div>
            <div class="second-bar" id = "second-bar"></div>
            <div class="third-bar" id = "third-bar"></div>
        </div>

        <div class="leftBarButtons" id = "leftBarButtons">
            <a href ="http://localhost:8080" ><button class="leftBarButton">Menu</button></a>
        </div>
    </div>
    
    <div class="Principal" id = "Principal">
        <div style="display: flex; align-items: center; background-color: #CA20FE;">
        <img src={{.Image}} alt="Illustrattion du groupe {{.Name}}" class="imgArtist">
        <h1 class="GroupeName">{{.Name}}</h1>
        </div>
        <div class="information-Box">
            <div class="information-Inside-Box">
                <p class="information-Title">Date de création : </p>
                <p class="information-Element">{{.CreationDate}}</p>
            </div>
            <div class="information-Inside-Box">
                <p class="information-Title">Abonnés Spotify : </p>
                <p class="information-Element">{{.Followers}}</p>
            </div>
            <div class="information-Inside-Box">
                <p class="information-Title">Genre : </p>
                <p class="information-Element">{{.Genre}}</p>
            </div>
        </div>

        <div class="membersBar">
            <p>Concerts</p> 
            <div id = "ConcertBnt" class="arrow bottom"></div>
         </div>
         <div id="Concerts">
            <div style="display: flex; flex-direction: column;">
                {{range .Concert}}
                <form action="changeMap" method="post">
                    <button value="{{.Id}}" name="ChangeMap" class="Concert">
                        <h2 style="margin-right: 1vw;">{{.Date}}</h2>
                        <h2>{{.Location}}</h2>
                    </button>
                </form>
                {{end}}
            </div>
            <div class="map">
                <iframe class = "Map" loading = "lazy" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp={{.X}}~{{.Y}}&lvl=10&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
            </div> 
         </div>
        <div class="membersBar">
           <p>Members</p> 
           <div id = "Name" class="arrow right"></div>
        </div>
        <div class="Names" id = "Names">
            {{range .Members}}
                <p>{{.Member}}</p>
            {{end}} 
        </div>
        <div class="membersBar" id = "SpotifyBar">
            <p>Spotify</p> 
            <div id = "SpotifyButton" class="arrow right">
        </div>
        </div>
        <div style="background-color : #2A0934 ;   border-bottom: #C91BFE 1px solid;" id = "Spotify">
            <iframe 
            class = "Spotify" 
            style="border-radius:12px;"
            src="https://open.spotify.com/embed/artist/{{.SpotifyId}}?utm_source=generator&theme=0"
            width="100%" 
            height="352" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy">
            </iframe>
        </div>
    </div>
    <script src="http://localhost:8080/assets/JS/artistPage.js"></script>
</body>
</html> 
