<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/concertPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Page</title>
</head>
<body>
    <div class ="navbar">
        <a class="navHomeButton" href="http://localhost:8080/"><img src="http://localhost:8080/assets/img/ancienlogo.png" width="90%"/></a>
            <form action="searchName" method="post" class="searchName">
                <img class = "loupe" src="http://localhost:8080/assets/img/loupe-svgrepo-com.svg" alt="loupe" style="filter: brightness(0) invert(1);">
                <input class="search" type="text" name="searchName" list="names" src="http://localhost:8080/assets/img/loupe.png"/>
            </form>
        <form action="adminLog" method="post">
            <button  style = "border: transparent; background-color: transparent; margin-right: 5vw;"> <img src="http://localhost:8080/assets/img/Parameters.png" alt="parameters button" class="Para" height="50px" width="50px" style="filter: brightness(0) invert(1);"> </button>
        </form>
    </div>

    <div class="Concert">
        <div class="artist">
            {{range .Array}}
            <div class="artistName">
                <h1>{{.Name}}</h1>
            </div>
            <div class="artistImage">
                <img src = {{.Image}} class="image">
            </div>

        </div>
        
        {{range .Concert}}
            {{.Location}}
            {{.Date}}
            {{end}}
         {{end}}
        
        
        
        
    </div>
</body>
</html>