body {
    text-align: center;
    margin: 0px;
    display: flex;
  }

  p,h1,h2{
    color: #2B0935;
    width: fit-content;
  }

  .GroupeName {
    margin-left: 10vw;
    font-size: 5vw;
    color : #2B0935 ;
    font-style: oblique;
  }
  .information-Element {
    font-size: 1.8vw;
    color: #C91BFE;
    border-right: 3px solid #2B0935 ;
    padding-right: 2vw;
    padding-left: 2vw;
    font-style:oblique;
  }
  .information-Box{
    border-bottom: #C91BFE 1px solid;
    display: flex;
    align-items: center;
    background-color: #F9E5FF; 
    justify-content: start;
    flex-wrap: wrap;
  }
  .information-Inside-Box {
    display: flex;
    align-items: center;
  }
  .information-Title{
    margin-left: 5vw;
    width: fit-content;
    font-size: 2vw;
    color: #2B0935;
  }

  .Map {
    max-width: 500px;
    max-height: 400px;
    min-height: 24vw;
    min-width: 30vw;
  }

  .map {
    display: flex;
    flex-direction: column;
    max-height: 30vw;
    max-width: 35vw;
    margin-left: 10vw;
  }

  .imgArtist{
    margin-left: 2vw            ;
    max-width: 10vw;
    max-height: 10vw;
  }
  .LeftSide{
    position: -webkit-sticky;
    position: sticky;
    display : flex ;
    top: 0px;
    flex-direction: column;
    height: 100vh;
    border-right: #C91BFE 1px solid;
    cursor: pointer;
  }

  .LeftSideClose{
    background-color: #2B0935;
    width: 7vw;
  }

  .LeftSideClose-JS{
    animation-iteration-count: 1;
    animation: LeftBarClosing 0.25s linear;
  }

  .LeftSideOpen{
    background-color: #F9E5FF;
    width: 15vw;
  }

  .LeftSideOpen-JS{
    animation-iteration-count: 1;
    animation: LeftBarOpenning 0.25s linear;
  }

  .LeftSideClose-Principal{
    width: 93vw;

  }

  .LeftSideClose-Principal-JS  {
    animation-iteration-count: 1;
    animation: PrincipalClosing 0.25s linear;
  }

  .LeftSideOpen-Principal-JS {
    animation-iteration-count: 1;
    animation: PrincipalOpenning 0.25s linear;
  }

  .LeftSideOpen-Principal{
    width: 85vw;
    animation-iteration-count: 1;
    animation: PrincipalOpenning 0.25s linear;
  }

  .Principal{
    background-color: #F9E5FF;
    display: flex;
    flex-direction: column; 
    column-gap : 0 ;
  }

.leftBarButton{
  background-color: #2A0934;
  color: #F9E5FF ;
  border: transparent solid 2px;
  border-radius: 5px;
  margin-top: 2vh;
  width: 8vw;
  height: 5vh;
  font-size: 1vw;
}

.treeBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

.treeBar > div {

  height: 0.1vh;
  width: 2vw;
  border: #C91BFE solid 3px;
  border-radius: 20px;
  margin-bottom: 1vh;
  background-color: #C91BFE;
}

@keyframes LeftBarOpenning {
  0% {
    width: 7vw;
    background-color: #2A0934;
  }
  50% {
    background-color: gradiante(#2A0934, #F9E5FF);
  }
  100% {
    background-color: #F9E5FF;
    width: 15vw;
  }
}

@keyframes LeftBarClosing {
  0% {
    width: 15vw;
    background-color: #F9E5FF;
  }
  50% {
    background-color: gradiante(#2A0934, #F9E5FF);
  }
  100% {
    background-color: #2A0934;
    width: 7vw;
  }
}

@keyframes PrincipalOpenning {
  0% {
    width: 93vw;
  }
  100% {
    width: 85vw;
  }
}

@keyframes PrincipalClosing {
  0% {
    width: 85vw;
  }
  100% {
    width: 93vw;
  }
}

.AnimBarOne {
  animation: barOne 1s linear;
  animation-iteration-count: 1;
}
.AnimBarTwo {
  animation: BarTwo 1s linear;
  animation-iteration-count: 1;
}
.AnimBarThird {
  animation: barOne 1s linear;
  animation-iteration-count: 1;
}
@keyframes barOne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes barTwo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes barTwo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.arrow {
  border: solid #C91BFE;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.membersBar {
  background-color: #8601AF;
  display: flex;
  align-items: center;
  border-bottom: #C91BFE 1px solid;
}

.membersBar > p {
  color : #2A0934;
  font-size: 1.8vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
.bottom {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.Names {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #2A0934;
  border-bottom: #C91BFE 1px solid;
}

.Names > p {
  background-color: #F9E5FF;
  font-size: 2vw;
  border-radius: 25px;
  padding: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.Hidden {
  display: none;
}

.Concerts {
  background-color: #2A0934;
  display: flex;
  border-bottom: #C91BFE 1px solid;
  justify-content: start;
  align-items: center;
}

.Concert {
  color: transparent;
  background-color: #F9E5FF;
  border-radius: 25px;
  cursor: pointer;
  display: flex; 
  min-width: 25vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5vw;
  border : transparent 3px solid;
}
.Concert:hover {
  border : #C91BFE 3px solid;
}
