body {
  text-align: center;
  background : #F9E5FF ;
  scroll-behavior: smooth;
  margin: 0 0 0 0 ;
}
/* .navbar{
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  background-color: #2A0934;
  min-height: 10vh;
  width: 100vw;
} */
.navbar{
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color:  #2A0934;
  min-height: 12vh;
  font-family: 'Open Sans', sans-serif;
}
 
.navHomeButton{
    margin-left: 5vw;
    height: 10vh;
    width: 10vh; 
    border-radius: 100px;
  }
  
.loupe {
    border-right : 2px solid #F9E5FF;
   
    width: 35px;
    padding-right: 1vw;
    margin-left: 1vw;
}
.researchBar{
    color: transparent;
    margin-top: 0vh;
    margin-bottom: 2vh;
}
.searchName {
    border : 4px solid #F9E5FF;
    min-height: 5vh;
    min-width: 25vw;
    display: flex;
    border-radius: 20px;
}
.search {
    background: none;
    border: none;
    font-size: 25px;
    color : #F9E5FF ;
    max-width: 18vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  
  .researchBar:hover input{
    width: 350px;
    background: transparent;
    border-radius: 10px;
  }
  .researchBar i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
  }
  .researchBar:hover i{
    opacity: 0;
    z-index: -1;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    background-color: transparent;

}
.image{
    width: 25;
    height: 25;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
    justify-content: space-between;
}

.artistName{
    width: 50;
    height: 50;
}
