.body{
    background-color: #343434;    
}
.box1{
    background-color: #343434;
    border: 1px solid #343434;
    border-radius: 5px;
    box-shadow: 0 0 5px #343434;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
}